---
layout: workshop
root: .
venue: Thomas Jefferson National Accelerator Facility (JLab) - CEBAF Center Room F113
address: Thomas Jefferson National Accelerator Facility, CEBAF Center Room F113, 12000 Jefferson Ave, Newport News, VA 23606
country: United States
humandate: May 17-19, 2017
humantime: 8:30 am - 4:30 pm
startdate: MAY-17-2017 
enddate: MAY-19-2017
latlng: 37.097272, -76.486906
registration: https://misportal.jlab.org/Ul/conferences/generic_conference/registration.cfm?conference_id=COMPUTING-MAY2017
instructor: ["Mats Rynge, Bala Desinghu, Suchandra Thapa, Emelie Harstad"]
helper: []
contact: user-support@opensciencegrid.org
---
    


<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
-->

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
{% if page.eventbrite %}
<iframe src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>General Information</h2>

<p>
The <a href="http://www.opensciencegrid.org">Open Science Grid</a>
provides a fabric of services to enable
distributed, high-throughput computing capabilities across the US. In
general, OSG is organized into VOs (Virtual Organizations) around large
experiments, but individual PIs and groups too small for the VO model
can use the hosted services provided by
<a href="http://osgconnect.net">OSG Connect</a>.
</p>

<p>
OSG Connect also offers training. This event is an extended version
of Software Carpentry workshop, adding distributed high throughput
computing to the standard command line, Git and Python modules.
Participants will be encouraged to help one another and to apply what
they have learned to their own research problems.
</p>

<p>
<a href="http://software-carpentry.org">Software Carpentry</a>'s
mission is to help scientists and engineers become
more productive by teaching them basic lab skills for computing like
program design, version control, data management, and task automation.
</p>

<p>
This workshop is being run by the
<a href="http://opensciencegrid.org/">OSG</a>
and <a href="https://www.jlab.org/">Jefferson Lab</a>'s GSPDA and
Computing Departments, in collaboration with the Software Carpentry.
</p>

  
<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!-- This block displays the helpers' names if they are available. -->
{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students, post-doctoral researchers and other researchers.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

{% if page.registration %}
<h2>Registration</h2>
<p>
Space is limited for the event. To register,  please <a href="{{page.registration}}"> visit here </a>.
</p>
{% endif %}
<hr/>

<h2>Schedule</h2>


<div class="row-fluid">
    <h4>Introduction to Unix and Version Control with Git</h4>
    <h4> May 17th, 8:30 AM - 4:30 PM</h4>
    <h5>Location: CEBAF Center, Room F113</h5>
    <h5>Instructor: TBD </h5>
     <h4> </h4>
    <table class="table table-striped">
      <tr> <td>08:00 - 08:30 </td> <td> Set-up (<a href="https://docs.google.com/presentation/d/1mMG6DM3MxFdMpjX2H2oVSDy9Z4zJvDSugF178aM4cOA/edit?usp=sharing">Intro Slides</a>)</td> </tr>
      <tr> <td>08:30 - 10:15 </td> <td><a href="http://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/shell/index.html" >Introduction to the Unix shell</a>  </td> </tr>
      <tr> <td>10:15 - 10:30</td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:30 - 11:30 </td> <td><a href="http://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/shell/index.html" >Introduction to the Unix shell </a> (continued) </td> </tr>
      <tr> <td>11:30 - 12:00</td> <td> <a href="https://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/git/index.html">Version control with Git </a> </td> </tr>
      <tr> <td>12:00 - 13:00</td> <td><em> Lunch Break </em></td> </tr>
      <tr> <td>13:00 - 14:30</td> <td><a href="https://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/git/index.html">Version control with Git </a> (continued) </td> </tr>
    </table>
     <h4> </h4>
</div>

<h2> </h2>
<div class="row-fluid">
    <h4>Programming with Python</h4>
    <h4>May 18th, 8:30 AM - 4:30 PM</h4>
    <h5>Location: CEBAF Center, Room F113 </h5>
    <h5>Instructor: TBD </h5>
    <h3> </h3>
    <table class="table table-striped">
      <tr> <td>08:30 - 09:00</td> <td> Set-up </td> </tr>
      <tr> <td>09:00 - 10:30 </td> <td><a href="https://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/python/"> Building programs with Python</a> (Part 1) </td> </tr>
      <tr> <td>10:30 - 10:45</td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:45 - 12:00</td> <td><a href="https://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/python/"> Building programs with Python</a> (Part 1, continued)</td> </tr>
      <tr> <td>12:00 - 13:00</td> <td><em> Lunch Break </em></td> </tr>
      <tr> <td>13:00 - 14:30 </td> <td><a href="https://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/python/">Building programs with Python</a> (Part 2)</td> </tr>
      <tr> <td>14:30 - 14:45</td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>14:45 - 16:30</td> <td><a href="https://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/python/">Building programs with Python</a> (Part 2, continued) </td> </tr>
    </table>
  </div>

<h2> </h2>
<div class="row-fluid">
    <h4> Basics of High Throughput Computing</h4>
    <h4> May 19th, 8:30 AM - 12:15 PM </h4>
    <h5>Location: CEBAF Center, Room F113 </h5>
    <h5>Instructors: TBD</h5>
     <h3> </h3>
    <table class="table table-striped">
      <tr> <td>08:30 - 09:00</td> <td> Set-up </td> </tr>
      <tr> <td>09:00 - 09:20 </td> <td> <a href="http://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/DHTC/01-IntroGrid.html">Introduction to OSG </a> </td> </tr>
      <tr> <td>09:20 - 10:20 </td> <td><a href="http://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/DHTC/04-HTCondor-Submitting.html"> Job Scheduling with HTCondor</a></td> </tr>
      <tr> <td>10:20 - 10:35 </td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:35 - 11:30 </td> <td> <a href="http://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/DHTC/04a-ScalingUp-python.html">Scaling Up Computing Resources (Python example) </a></td> </tr>
      <tr> <td>11:30 - 12:15 </td> <td><a href="http://swc-osg-workshop.github.io/2017-05-17-JLAB/novice/DHTC/05-Stash.html">Data Management</a> </td></tr>
      <tr> <td>12:15 - 12:30 </td> <td> <a href = "https://goo.gl/forms/awroEsAGvjTs4aGb2"> Survey </a> </td></tr>
      <tr> <td>12:30 - 13:30 </td> <td> <em> Lunch Break </em></td> </tr>
      <tr> <td>13:30 - 14:30 </td> <td> Intro to Computing at Jefferson Lab: Batch, Storage and Workflow </td></tr>
      <tr> <td>14:30 - 14:45 </td> <td> <em>Coffee break </em></td> </tr>
      <tr> <td>14:45 - 15:45 </td> <td> Advanced Topics: Improving Your Computing Throughput at JLab </td></tr>
    </table>
  </div>
<hr/>



<!--
    Edit this block to show what topics will be covered.
-->

<h2>Setup Instructions </h2>
<p>
  <a href="setup.html">Instructions to set up the required software on Linux, Windows and Mac laptops. </a>
</p>
<hr/> 

<h2>Syllabus</h2>
<p>
  <a href="syllabus.html">Syllabus for the workshop</a>. 
</p>
<hr/> 


<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->
